---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  margin-top: 80px;
  background: #fff;
}

section {
	padding: 0rem 12rem;
}

.row {
  position: relative;
}

ul {
	margin-left: 0px;
	font-size: 14px;
	color: #666;
	font-family:InputMonoCondensed-Bold;
	text-align:center;
	background-color:#eee;
}

li {
	display: block;
	height:50px;
}

.train-line ul {
  background: #eee url("images/div-col.png") repeat-y center center;
}

.train {
 width: 35%;
 height: 10px;
 background: #ccc;
 text-indent: -9999px; 
}

.red-train {
 width: 35%;
 height: 10px;
 background: #000;
 text-indent: -9999px; 
}

.inbound-train {
  float:right;
}

.yellow-line-margin {
margin-top:250px;
}

.green-line-margin {
margin-top:50px;
}

.orange-line-margin {
margin-top:150px;
}

.silver-line-margin {
margin-top:150px;
}

.blue-line-margin {
margin-top:150px;
}

.transfer {
  position: absolute;
  top: 650px;
  right: 15px;
  height: 24px;
  width: 81%;
  border: 1px solid #555;
  z-index: 1000;
}

@font-face {
    font-family: InputMonoCondensed-Bold;
    src: url(fonts/InputMonoCondensed-Bold.ttf);
    font-weight:bold;
}

.connection{
border: 2px solid #ccc;
}