---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  margin-top: 50px;
  background: #1A1A1A;
}

section {
	padding: 0rem 15rem;
}

header {
	padding: 0rem 15rem;
}

.row {
  position: relative;
}

ul {
	padding-top:40px;
	padding-bottom:30px;
	margin-left: 0px;
	font-size: 13px;
	color: #262626;
	font-family:InputMonoCondensed-Bold;
	text-align:center;
	background:#000;      	
}

.train-line li:hover {
    color:#ccc;
    opacity:0.5;
    text-decoration: none;
    }  
    

li {
	display: block;
	height:35px;
	z-index: 50;
	position: relative;
	
}


.divider {
   position: absolute;
   left: 0;
   right: 0;
   margin-right: auto;
   margin-left: auto;
   top: 0;
   height: 100%;
   width: 25%;
   background: #1A1A1A;
   z-index: 1;
}

.train {
 width: 35%;
 height: 12px;
 background: #ccc;
 text-indent: -9999px; 
 position:absolute;
 top:0.5rem;
 left:0px;
 z-index:-5;
 border-radius: 0px 0px 0px 0px;
}

.train-line-red .train{
background:#FF0000;
}

.train-line-green .train{
background:#8CFF00;
}

.train-line-yellow .train{
background:#FFF000;
}

.train-line-blue .train{
background:#1A00FF;
}

.train-line-orange .train{
background:#FF8000;
}

.train-line-silver .train{
background:#CACACA3;
}

.inbound-train {
  position:absolute;
  right:0px;
  left: auto;
}

.yellow-line-margin {
margin-top:175px;
}

.green-line-margin {
margin-top:35px;
}

.orange-line-margin {
margin-top:105px;
}

.silver-line-margin {
margin-top:105px;
}

.blue-line-margin {
margin-top:105px;
}

.transfer {
  position:absolute;
  height: 20px;
  background-color:rgba(0,0,0,.25);
  z-index: 20;
  margin-top:2px;
}

@font-face {
    font-family: InputMonoCondensed-Bold;
    src: url(fonts/InputMonoCondensed-Bold.ttf);
    font-weight:bold;
}

@font-face {
    font-family: InputMono-Regular;
    src: url(fonts/InputMono-Regular.ttf);
    font-weight:regular;
}

@font-face {
    font-family: InputMono-Medium;
    src: url(fonts/InputMono-Medium.ttf);
    font-weight:medium;
}

@font-face {
    font-family: InputMono-Black;
    src: url(fonts/InputMono-Black.ttf);
    font-weight:black;
}

@font-face {
    font-family: InputSansCompressed-Medium;
    src: url(fonts/InputSansCompressed-Medium.ttf);
    font-weight:medium;
}

h1{
font-size: 115px;
color: #ccc;
font-family:InputMono-Black;
text-align:left;
margin-bottom:0px;
line-height:1;
}

h2{
font-size: 45px;
color: #ccc;
font-family:InputMono-Medium;
text-align:left;
margin-bottom:0px;
line-height:.9;
letter-spacing:.77rem;
}

h3{
font-size: 22px;
color: #ccc;
font-family:InputMono-Regular;
text-align:left;
margin-bottom:0px;
line-height:1.7;
letter-spacing:.3rem;
}

p{
font-family: Helvetica, Arial, sans-serif;
font-size: 16px;
color: #6E7476;
font-weight:500;
line-height:1.7;
letter-spacing:.05rem;
}

.flexbox-container {
  display: flex;
  align-items: flex-end;
}

.flexbox-item {
  align-self: flex-end;
}

.menu {
background:none;
padding:10px;
margin:0px;
font-size: 12px;
font-family: Helvetica, Arial, sans-serif;
letter-spacing:.3rem;
font-weight:600;

	li{
	display: inline;
	margin-left: 5rem;
	margin-right: 5rem;
	}
	
}

.menu li a{
	color:#ccc;
    text-decoration: none;
	}
	
.menu li a:hover {
    color:white;
    text-decoration: none;
    font-weight:600;
    }    
   
.menu-box{
border-top: 3px solid #ccc;
border-bottom: 3px solid #ccc;
margin:40px 15px 40px 15px;
}

.boarding-text{
margin-bottom:40px;
text-align:center;
color: #6E7476;
font-family: Helvetica, Arial, sans-serif;
font-size:17px;
font-weight:400;
}

.counter{
color:#6E7476;
font-family: Helvetica, Arial, sans-serif;
font-size:19px;
font-weight:700;
border: 3px solid #6E7476;
padding:3px 6px;
}

.footer-notes{
font-size: 15px;
color: #6E7476;
letter-spacing:.05rem;
display:inline;
}

.project-name{
font-size: 11px;
text-transform:uppercase;
font-weight:600;
letter-spacing:.2rem;
}

.footer-divider{
margin-top:80px;
border-top:3px solid #6E7476;
margin-left:15px;
margin-right:15px;
padding-top:25px;
padding-bottom:40px;
}

.footer-box{
float:right;
}

.mini-logo{
margin-left:1rem;
height:2rem;
width:2rem;
display:inline;
}
