<header>

<div class="row flexbox-container">

<div class="col-md-5">
<h3>DC's NON-GEOGRAPHICAL</h3>
<h2>MONOSPACED</h2>
<h1>METRO</h1>
</div>

<div class="col-md-5 col-md-offset-2">
<p>Bacon ipsum dolor amet venison tongue hamburger shank pork loin doner pork belly shoulder meatball sirloin ham pancetta. Porchetta sirloin shoulder, strip steak frankfurter ground round ham pork belly landjaeger chuck spare ribs pork chop doner. Pork loin ham hock ham, swine t-bone frankfurter salami turkey jowl. Bresaola swine turkey meatball, pastrami pork loin kevin.</p>
</div>

</div>


<div class="row">
  <div class="menu-box">
    <ul class="menu">
      <li><a href="">BOARDING NOW</a></li>
      <li><a href="">TRACK WORK</a></li>
      <li><a href="">NEXT TRAIN</a></li>
      <li><a href="">SERVICE NEARBY</a></li>
    </ul>
  </div>
</div>

</header>
